<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131536357214-2e9dll84f9pcu6p38uiqio6892vqf0qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131536357214-2e9dll84f9pcu6p38uiqio6892vqf0qf</string>
	<key>API_KEY</key>
	<string>AIzaSyAMzzo5wcmtAVEsngKT6ufhkKPg1Y9VHWA</string>
	<key>GCM_SENDER_ID</key>
	<string>131536357214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>namtrinh.DemoFireBase</string>
	<key>PROJECT_ID</key>
	<string>demofirebase-f77a1</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirebase-f77a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131536357214:ios:50b40e1c371dbeb586f1cf</string>
</dict>
</plist>